{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center bg-success">
                </div>
                <h3 class="formTitle text-center">Changement de mot de passe</h3>
                <form method="POST" class="form-group formBackG">
                    <label for="password">Mot de passe</label>
                        <input type="password" name="password" class="form-control mb-3 mt-3 formInput">

                    <label for="verifPassword">Confirmer votre mot de passe</label>
                        <input type="password" name="verifPassword" class="form-control mb-3 mt-3 formInput">
                    <button class="btn mb-3 mt-3 formButton" >Changer de mot de passe</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}