{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<section class="heightPage">
    <div class="row">
        <div class="container-fluid">
            <div class="col-12 col-md-4 offset-4 marginForm justify-content-center">
                <div class="text-center bg-success">
                    {% for error in errors %}
                        <p>{{error}}<p>
                    {% endfor %}
                </div>
                <h3 class="formTitle text-center">Changement mot de passe</h3>
                <form method="POST" class="form-group formBackG">
                    <label for="email" class="mb-3 mt-3">E-mail</label>
                        <input type="email" name="email" class="form-control formInput">
                    <label for="verifEmail" class="mb-3 mt-3">Confirmer votre e-mail</label>
                        <input type="email" name="verifEmail" class="form-control formInput">
                    <button class="mb-3 mt-3 btn formButton">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}